<!DOCTYPE html>
<html>
  <head>
    <title>StripeSubscription</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Stripe Subscription Demo </h1>
    <hr />

    <% if user_signed_in? %>
      <div>
        <span> Welcome <%= current_user.email %> </span>

        <div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
